body {
    background-color: lightblue;
    margin-left: 100px;
    background-image: url("regenbogen.jpg");
    
    background-size: cover;
    
}

h1{
    background-color: lightseagreen;
    padding: 10px;
    width: 500px;
    color: darkblue;
    
}

form {
    background-color: lightcoral;
    margin-left: 20px;
    padding: 20px;
    width: 300px;
    color:darkblue;
    font-size: 18px;
    font-weight: bold;
}

label{
    padding-bottom: 5px;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding-top: 5px;
    margin-top: 5px;
}

#submit{
    background-color:cornflowerblue;
    color: darkblue;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

